@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
    --cyan: #1d9aef;
    --white: #fefefe;
    --black: #000000;
    --gray: #919da4;
    --light-gray: #e6e6e7;
    --red: #f93f93;
    --btn-radius: 50px;
}

*:not(i),
*::after:not(i),
*::before:not(i) {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

button,
input,
select,
textarea,
ul,
li {
    font-family: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--white);
    overflow-x: hidden;
}

main {
    background: inherit;
    display: flex;
    width: 100%;
    justify-content: center;
}

.bold {
    font-weight: bold;
}

.navigation-side-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 14px;
    border-right: 1px solid var(--light-gray);
}

.navigation-top {
    display: flex;
    justify-content: end;
    flex-direction: column;
    position: sticky;
    align-self: flex-start;
    top: 5px;
}

.navigation-top a:nth-last-child(2) i {
    color: var(--cyan);
    margin-left: 10px;
    font-size: 30px;
    padding: 10px;
    border-radius: var(--btn-radius);
    width: fit-content;
    text-align: center;
    transition: background 150ms ease-in-out;
}

.navigation-top a i:hover {
    background: #1fc8fc2f;
}

.nav-list,
.nav-list ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--black);
    gap: 15px;
}

.nav-list {
    padding: 20px;
    width: 230px;
}

.nav-list ul li {
    list-style: none;
}

.nav-list ul li a {
    color: var(--black);
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 12px 15px;
    border-radius: var(--btn-radius);
    gap: 17px;
    transition: background 150ms ease-in-out;
}

.nav-list ul li a.active {
    font-weight: 700;
}

.nav-list ul li a:hover {
    background: var(--light-gray);
}

.tweet-btn {
    background: var(--cyan);
    color: var(--white);
    border: none;
    outline: none;
    width: 100%;
    padding: 15px 0;
    border-radius: var(--btn-radius);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: filter 150ms ease-in-out;
}

.tweet-btn:hover {
    filter: brightness(.9);
}

.navigation-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    border-radius: var(--btn-radius);
    padding: 10px;
    transition: background 150ms ease-in-out;
    position: fixed;
    bottom: 13px;
}

.navigation-bottom:hover {
    background: var(--light-gray);
}

.profile-picture {
    aspect-ratio: 1/1;
    border-radius: 100%;
    object-fit: cover;
}

.profile-picture.sm {
    height: 38px;
}

.profile-picture.md {
    height: 42px;
}

.profile-picture.bg {
    height: 48px;
}

.profile-picture.vbg {
    height: 160px;
}

.user-names {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 12px;
    gap: 3px;
}

.user-names .full-name {
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.user-names .username {
    color: var(--gray);
}

.feed-section {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--light-gray);
    width: 550px;
}

.tweet {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 13px;
    padding: 14px;
    width: 100%;
    border-bottom: 1px solid var(--light-gray);
}

.tweet-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 2px;
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

.user-info a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
    text-decoration: none;
}

.user-info span {
    color: var(--gray);
}

.user-info span:nth-child(1):hover {
    text-decoration: underline;
}

.user-info .full-name {
    font-weight: 800;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--black);
}

.tweet .content p {
    font-size: 13px;
    line-height: 20px;
}

.tweet .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.likes-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.post-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0;
    object-fit: contain;
    isolation: isolate;
}

#postImage {
    border-radius: 10px;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    backdrop-filter: blur(10px);
    z-index: 1;
    box-shadow: 0 0 5px #0002;
}


.post-image-container::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.post-image-container {
    position: relative;
}

.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--black);
    transition: color 200ms ease-in-out;
}

.like-btn.liked {
    color: var(--red);
}

.navigation-side-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 13px;
    padding-left: 25px;
    position: sticky;
    align-self: flex-start;
    top: 0;
}

.top-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--light-gray);
    background: #EFF3F4;
    padding: 8px 20px;
    width: 100%;
    gap: 10px;
    border-radius: var(--btn-radius);
}

.search-bar input {
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
}

.search-bar i {
    color: var(--gray);
}

.suggested-people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #EFF3F4;
    padding: 10px;
    border-radius: 10px;
}

.suggested-people h3 {
    padding: 5px 0;
}

.suggested-users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}


.suggested-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.suggested-user-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.suggested-user-info .full-name {
    font-size: 14px;
    font-weight: bold;
}

.suggested-user-info .username {
    font-size: 13px;
    color: var(--gray);
}

.followBtn {
    background: var(--black);
    color: var(--white);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: var(--btn-radius);
    cursor: pointer;
    transition: opacity 150ms ease-in-out;
}

.followBtn:hover {
    opacity: 0.8;
}

.navigation-side-right footer {
    font-size: 12px;
    color: var(--gray);
    position: fixed;
    bottom: 18px;
}

/* 

 RESPONSIVE DESIGN

 SCREEN ONLY, WIDTH AVAILABLE:
    WIDTH < 1000PX : SMALL DESKTOP SCREEN AND TABLETS
    WIDTH < 600PX  : MOBILES

*/

@media screen and (max-width: 1000px) {
    .navigation-side-right {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navigation-side-bar {
        display: none;
    }

    .post-container {
        padding: 14px;
    }

    .post-container .profile-picture {
        display: none;
    }
}