@import "./global.css";

.tweeting-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14px;
    gap: 20px;
    border-bottom: 1.5px solid var(--light-gray);
}

.page-title {
    font-weight: bold;
    font-size: 17px;
}

.post-container {
    display: flex;
    gap: 14px;
    width: 100%;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 13px;
    width: 100%;
}

.input-container textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    resize: none;
}

#uploadedImage {
    border-radius: 10px;
    max-height: 260px;
    object-fit: cover;
}

.tweet-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.tweet-btn-container #imageBtn {
    background: transparent;
    color: var(--cyan);
    border: 1px solid var(--cyan);
    outline: none;
    padding: 5px 15px;
    border-radius: var(--btn-radius);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background 150ms ease-in-out;
}

.tweet-btn-container #imageBtn:hover {
    background: #56d1f71a;
}

.tweet-btn-container button[type="submit"] {
    background: var(--cyan);
    color: var(--white);
    outline: none;
    padding: 5px 15px;
    border-radius: var(--btn-radius);
    border: 1px solid var(--cyan);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    transition: filter 150ms ease-in-out;
}

.tweet-btn-container button[type="submit"]:hover {
    filter: brightness(.9);
}